@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: none;
  font-family: var(--font-oswald);
  font-weight: 300;
}

/* 
  ALL CLASSES IN CSS FILES SHOULD BE 
  PREFIXED WITH "bc-" 
  TO SIGNINFY THAT ITS A CUSTOM 
  CLASS AND NOT A TAILWIND CLASS 
*/
/* 
  bc- STANDS FOR base class 
*/

.bc-font-oswald {
  font-family: var(--font-oswald);
}

.bc-font-geist {
  font-family: var(--font-geist);
}

.bc-transition-all-timing {
  transition: all var(--global-transition-time);
}

.bc-transition-extended-all-timing {
  transition: all var(--global-transition-time-extended);
}

.bc-icon-hover {
  opacity: 0.7;
  transition: all var(--global-transition-time);
}

.bc-icon-hover:hover {
  opacity: 1;
  transform: scale(1.1);
}

.bc-theme-toggle-btn {
  position: fixed;
  top: 2px;
  left: 2px;
  z-index: 100;
}

/* Custom Cursor */
.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: height var(--global-transition-time) ease, width var(--global-transition-time) ease;
  mix-blend-mode: difference;
}

.custom-cursor.cursor-large {
  height: 60px;
  width: 60px;
  transition: height var(--global-transition-time) ease, width var(--global-transition-time) ease;
}

/*
  Adding this here as a reference since its used as the class to trigger the @/hooks/useHoverBodyEffect custom hook.
  If any updates are made to the class name in the hook this should also be updated.
*/
.bc-hover-cursor-styles {}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.3rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --global-transition-time: 400ms;
    --global-transition-time-extended: 600ms;
    --xs-breakpoint: 400px;
    --sm-breakpoint: 640px;
    --md-breakpoint: 768px;
    --lg-breakpoint: 1024px;
    --xl-breakpoint: 1280px;
    --xxl-breakpoint: 1536px;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
