.work-experience-item {
    border-radius: 5px;

    .work-experience-item-header {
        border-bottom: 1px solid white;
    }

    .align-text-end {
        text-align: end;
    }
}

.work-experience-item:hover {
    background-color: hsl(var(--muted));
    padding: 10px 20px;

    .work-experience-item-header {
        width: 100%;
    }
}