.bc-work-experience-item {
    border-radius: 5px;
    padding: 10px 20px;

    .bc-work-experience-item-header {
        border-bottom: 1px solid white;
        width: 100%;
    }

    .bc-align-text-end {
        text-align: end;
    }

    .bc-work-experience-technologies {
        height: auto;
        opacity: 1;

        .bc-technology-pill {
            background-color: hsl(var(--primary));
            color: hsl(var(--primary-foreground));
            transition: transform var(--global-transition-time);
        }

        .bc-technology-pill:hover {
            transform: scale(1.15);
        }
    }
}

.bc-work-experience-item:hover {
    background-color: hsl(var(--secondary));
    padding: 10px 20px;

    .bc-work-experience-item-header {
        width: 100%;
    }

    .bc-work-experience-technologies {
        height: auto;
        opacity: 1;
    }
}

@media only screen and (min-width: 640px) {
    .bc-work-experience-item {
        padding: 0;

        .bc-work-experience-item-header {
            width: fit-content;
        }

        .bc-work-experience-technologies {
            opacity: 0;
        }
    }
}